[submodule "vendor/commonui"]
	path = vendor/commonui
	url = https://github.com/DroneDB/CommonUI
	branch = master
[submodule "vendor/ddb_js"]
	path = vendor/ddb_js
	url = https://github.com/DroneDB/DDB.js
	branch = master
