[submodule "vendor/ddb"]
	path = vendor/ddb
	url = https://github.com/DroneDB/DroneDB
	branch = master
[submodule "vendor/commonui"]
	path = vendor/commonui
	url = https://github.com/DroneDB/CommonUI
	branch = master
[submodule "webapp/public/potree"]
	path = webapp/public/potree
	url = https://github.com/DroneDB/PotreeBuild
