// Import Semantic UI from npm package
// Semantic UI is now imported in main.js directly

html {
    overflow: hidden;
}

body {
    color: #030A03;
    background: #fefefe;
}

/*
 * GLOBAL USER-SELECT DISABLE
 *
 * This application is a geospatial data management platform with heavy
 * interactive components (maps, 3D viewers, draggable windows, resizable panels).
 *
 * Disabling text selection globally prevents accidental text selection during:
 * - Map panning/zooming (OpenLayers, Leaflet)
 * - 3D model rotation/pan (Potree, Three.js)
 * - Window dragging (Window.vue)
 * - Panel resizing (Panel.vue)
 * - File selection in browsers (FileBrowser.vue, Explorer.vue)
 *
 * Use .text-selectable class on elements where text should be selectable.
 * Example: <div class="text-selectable">Copy me</div>
 */
* {
    user-select: none;
}

.text-selectable,
.text-selectable * {
    -webkit-user-select: text !important;
    -moz-user-select: text !important;
    user-select: text !important;
    cursor: text;
}

.hidden {
    display: none !important;
}

.spin {
    animation: rotation 2s infinite linear;
}

.circle.notch {
    height: 17px;
    line-height: 17px;
    width: 22px;
}

.cui.select.icon {
    position: relative;

    select {
        text-indent: 24px;
    }

    i {
        position: absolute;
        left: 13px;
        z-index: 1;
        top: 10px;
        opacity: 0.5;
        color: rgba(0, 0, 0, 0.87);
    }
}

.cui.app {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .container {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        overflow: hidden;

        &.vertical {
            flex-direction: column;
        }

        &.main {
            height: 100%;
            // height: calc(100% - 32px);
        }
    }

    .sidebar {
        display: flex;
        flex-direction: column;
        overflow: auto;

        height: 100%;
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#app {
    display: flex;
    flex-direction: column;

    &.fullpage {
        height: 100%;

        &>div#views {
            height: 100%;
        }
    }
}

body:fullscreen {
    background: #fefefe;

    &::backdrop {
        background: #fefefe;
    }
}

/* Mobile */

@media only screen and (max-width: 767px) {

    [class*="mobile hide"],
    [class*="tablet only"]:not(.mobile),
    [class*="computer only"]:not(.mobile),
    [class*="large monitor only"]:not(.mobile),
    [class*="widescreen monitor only"]:not(.mobile),
    [class*="or lower hide"] {
        display: none !important;
    }

    body,
    button,
    input,
    optgroup,
    select,
    textarea {
        font-size: 120%;
    }

    .ui.button,
    .ui.buttons .button,
    .ui.buttons .or,
    .ui.dropdown .menu,
    .ui.dropdown .menu>.item,
    i.icon,
    i.icons {
        font-size: 1.2rem;
    }
}


/* Tablet / iPad Portrait */

@media only screen and (min-width: 768px) and (max-width: 991px) {

    [class*="mobile only"]:not(.tablet),
    [class*="tablet hide"],
    [class*="computer only"]:not(.tablet),
    [class*="large monitor only"]:not(.tablet),
    [class*="widescreen monitor only"]:not(.tablet),
    [class*="or lower hide"]:not(.mobile) {
        display: none !important;
    }
}

/* Computer / Desktop / iPad Landscape */

@media only screen and (min-width: 992px) and (max-width: 1199px) {

    [class*="mobile only"]:not(.computer),
    [class*="tablet only"]:not(.computer),
    [class*="computer hide"],
    [class*="large monitor only"]:not(.computer),
    [class*="widescreen monitor only"]:not(.computer),
    [class*="or lower hide"]:not(.tablet):not(.mobile) {
        display: none !important;
    }
}


/* Large Monitor */

@media only screen and (min-width: 1200px) and (max-width: 1919px) {

    [class*="mobile only"]:not([class*="large monitor"]),
    [class*="tablet only"]:not([class*="large monitor"]),
    [class*="computer only"]:not([class*="large monitor"]),
    [class*="large monitor hide"],
    [class*="widescreen monitor only"]:not([class*="large monitor"]),
    [class*="or lower hide"]:not(.computer):not(.tablet):not(.mobile) {
        display: none !important;
    }
}


/* Widescreen Monitor */

@media only screen and (min-width: 1920px) {

    [class*="mobile only"]:not([class*="widescreen monitor"]),
    [class*="tablet only"]:not([class*="widescreen monitor"]),
    [class*="computer only"]:not([class*="widescreen monitor"]),
    [class*="large monitor only"]:not([class*="widescreen monitor"]),
    [class*="widescreen monitor hide"],
    [class*="widescreen monitor or lower hide"] {
        display: none !important;
    }
}


@font-face {
    font-family: 'dronedb';
    src: url('../fonts/dronedb.woff2?91670630') format('woff2'),
        url('../fonts/dronedb.woff?91670630') format('woff');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-dronedb"]:before,
[class*=" icon-dronedb"]:before {
    font-family: "dronedb";
    font-style: normal;
    font-weight: normal;
    speak: never;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-dronedb:before {
    content: '\e800';
}

/* 'î €' */