/**
 * Stili globali per OpenLayers Controls
 */

.ol-control {
    background-color: rgba(255, 255, 255, .4) !important;
    border-radius: 4px !important;
    padding: 2px !important;
}

.ol-control button {
    background-color: #003c8880 !important;
    margin: 1px !important;
    padding: 0 !important;
    color: #fff !important;
    font-weight: bold !important;
    text-decoration: none !important;
    font-size: inherit !important;
    text-align: center !important;
    height: 1.375em !important;
    width: 1.375em !important;
    line-height: .4em !important;
    border: none !important;
    cursor: pointer !important;
}

.ol-control button:hover {
    background-color: #003c88cc !important;
}

.ol-control button.active {
    background-color: #00a86b !important;
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.5);
}

.ol-measure-control {
    top: 4.5em;
    left: 0.5em;
}

.ol-tooltip-static:before {
    border-top-color: #ffcc33;
}

.ol-tooltip-measure:before,
.ol-tooltip-static:before {
    border-top: 6px solid rgb(255 255 255 / 90%);
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    content: "";
    position: absolute;
    bottom: -6px;
    margin-left: -7px;
    left: 50%;
}

.ol-tooltip-static {
    background-color: #ffcc33;
    color: black;
    border: 1px solid white;
}

.ol-tooltip {
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    color: white;
    padding: 4px 8px;
    opacity: 0.9;
    white-space: nowrap;
    font-size: 12px;
    cursor: default;
    user-select: none;
}

.ol-tooltip-name {
    font-weight: bold;
    font-size: 11px;
    margin-bottom: 2px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding-bottom: 2px;
}

.ol-tooltip-value {
    font-size: 12px;
}
